header {
 color:chartreuse;
 background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    }



   
body {
    background-color:chartreuse
    
   }
#aboutSection { color:rgb(11, 255, 202); } .importantStuff { color:rgb(29, 7, 231); font-weight: bold; }
  

 